.home{
    opacity: 0;
    transition: all 2s;
}

.show{
    opacity: 1;
}

.about{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show2{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.project{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show4{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.testimonials{
    opacity: 0;
    transition: all 1s;
}

.show5{
    opacity: 1;
}

.contact{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show6{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.social-links a .fab:hover{
    color:blue;
    text-decoration: none;
}

.footer{
    background-color: black;
    padding: 10px;
}

.copy{
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.footer a{
    color:aqua;
    text-decoration: none;
}